@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Fleur+De+Leah&display=swap');
@import "tailwindcss";
@import './base.css';

@theme {
  --color-main-orange: #F7591F;
  --color-main-orange-red: #E34234;
  --color-main-pink: #FFACB7;
  --color-main-green: #9DCD5A;
  --color-main-green-darker: #68902B;
  --color-main-green-lighter: #D7DA5E;
  --color-main-yellow: #FEF536;
  --color-main-yellow-darker: #F8CB2E;

  --font-corinthia: "Corinthia", cursive;
  --font-fluer-de-leah: "Fleur De Leah", cursive;
}

@source "./index.html";
@source "./src/**/*.{vue,js,ts,jsx,tsx}";
