@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@import "tailwindcss";
@import './base.css';

@theme {
  --color-main-orange: #F7591F;
  --color-main-orange-red: #E34234;
  --color-main-pink: #FFACB7;

  --font-corinthia: "Corinthia", cursive;
}

@source "./index.html";
@source "./src/**/*.{vue,js,ts,jsx,tsx}";
